basemap @ file:///C:/Users/liuru/Desktop/pycode/basemap-1.2.2-cp37-cp37m-win_amd64.whl
certifi==2021.5.30
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.20.1
olefile==0.46
Pillow @ file:///C:/ci/pillow_1617386319301/work
pyproj @ file:///C:/Users/liuru/Desktop/pycode/pyproj-2.6.1.post1-cp37-cp37m-win_amd64.whl
pyshp @ file:///C:/Users/liuru/Desktop/pycode/pyshp-2.1.3.tar.gz
scipy==1.2.1
six @ file:///C:/ci/six_1605205426665/work
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
wincertstore==0.2
